/* VARIABLES & RESET */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

hr {
  background: #d8801d;
}

ul {
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 0.8rem;
  background: #f2ca9c;
}

::-webkit-scrollbar-thumb {
  background: #d8801d;
  border-radius: 0.4rem;
}

/* HEADER */
.header {
  width: 100%;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.scroll-header {
  background: #f8e2c9;
  -webkit-box-shadow: 0 4px 5px rgba(53, 48, 80, 0.1);
          box-shadow: 0 4px 5px rgba(53, 48, 80, 0.1);
}

.nav {
  width: 80%;
  margin: 0 auto;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-logo,
.nav-close,
.nav-toggle {
  font-size: 2rem;
  color: #7e4b11;
  cursor: pointer;
}

.nav-logo {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-logo .nav-logo-icon {
  font-size: 3em;
}

@media screen and (max-width: 986px) {
  .nav-menu {
    position: fixed;
    background: #f2ca9c;
    width: 80%;
    height: 100%;
    top: 0;
    right: -100%;
    -webkit-box-shadow: -2px 0 4px rgba(80, 61, 48, 0.1);
            box-shadow: -2px 0 4px rgba(80, 61, 48, 0.1);
    padding: 4rem 0 0 3rem;
    border-radius: 1rem 0 0 1rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 6;
  }
  .nav-menu .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.5rem;
    margin-left: 2rem;
  }
  .nav-menu .nav-list .nav-link {
    font-size: 2rem;
  }
  .nav-menu .nav-list .nav-link:hover {
    color: #d8801d;
    text-decoration: underline;
  }
  .nav-menu .nav-close {
    font-size: 2.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}

/* CLOSE/OPEN NAV */
.show-menu {
  right: 0;
}

/* HOME */
.home {
  padding: 0rem 1rem 0rem 1rem;
  margin-bottom: 3rem;
}

.home-container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  row-gap: 2rem;
}

.home-image {
  max-width: 98%;
  margin: 0 auto;
  padding: 5rem 1rem;
}

.home-content .home-title {
  letter-spacing: -0.05rem;
  color: #d8801d;
  margin-bottom: 0.5rem;
}

.home-content .home-description {
  margin-bottom: 2.5rem;
}

.home-social {
  position: absolute;
  top: 7rem;
  right: -1.5rem;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  row-gap: 2rem;
}

.home-social-text {
  font-weight: bold;
  font-size: 1rem;
  color: #d8801d;
  position: relative;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.home-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.5rem;
}

.home-social-links .social-link {
  font-size: 1.25rem;
  color: #d8801d;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.home-social-links .social-link:hover {
  -webkit-transform: translateX(0.25rem);
          transform: translateX(0.25rem);
}

.home-btn {
  display: inline-block;
  background: #d8801d;
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.home-btn:hover {
  background: #ab6517;
  -webkit-transform: translateX(0.25rem);
          transform: translateX(0.25rem);
}

/* ABOUT  */
.about-container {
  width: 90%;
  margin: 3rem auto;
  padding: 0.5rem;
}

.about-container .about-img {
  max-width: 100%;
  min-height: 250px;
  margin: 5rem auto 2rem auto;
}

.about-content .about-title {
  margin-bottom: 1rem;
  color: #d8801d;
}

.about-content .about-description {
  margin-bottom: 2rem;
}

.about-content .about-details {
  display: -ms-grid;
  display: grid;
  row-gap: 0.75rem;
}

.about-content .about-details p {
  font-size: 1rem;
}

.about-content .about-details p:nth-of-type(2n-1) {
  text-decoration: underline;
  -webkit-text-decoration-color: #d8801d;
          text-decoration-color: #d8801d;
}

.about-content .about-details i {
  color: #d8801d;
  margin-right: 0.5rem;
}

/* STEPS */
.steps {
  background: #f8e2c9;
}

.bg-steps {
  background: #e69942;
  width: 90%;
  margin: 0 auto;
  padding: 3rem 2rem;
}

.steps-title {
  margin: 3rem 0 3rem 0;
  text-align: center;
  color: white;
  font-size: 1.75rem;
}

.steps-container {
  display: -ms-grid;
  display: grid;
  gap: 2rem;
}

.steps-card {
  background: white;
  padding: 3rem 2rem;
  border-radius: 0.5rem;
}

.steps-card .steps-card-title {
  margin-bottom: 1rem;
}

.steps-card .steps-card-title span {
  background: #d8801d;
  padding: 0.25rem 0.45rem;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
  color: white;
}

.steps-card .steps-description {
  text-align: justify;
}

.steps-card:hover .steps-card-title {
  -webkit-transform: translateX(0.25rem);
          transform: translateX(0.25rem);
}

/* PRODUCTS */
.products {
  margin: 2rem 0 0 0;
  padding: 3rem 0 0 0;
}

.products .products-title {
  margin-top: 3rem;
  color: #d8801d;
  text-align: center;
  font-size: 2rem;
}

.products .products-description {
  text-align: center;
  font-size: 1.25rem;
}

.product {
  max-width: 96%;
  padding: 2rem 0;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 2rem 3rem;
}

.product-card {
  display: -ms-grid;
  display: grid;
  position: relative;
  padding: 1rem;
  border: 0.5px #d8801d solid;
  border-radius: 0.5rem;
}

.product-card .product-image {
  height: 140px;
  max-height: 200px;
  max-width: 100%;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-bottom: 0.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.product-card .product-title {
  color: #d8801d;
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.product-card .product-price {
  text-align: left;
  font-size: 1.35rem;
}

.product-card .btn-product {
  position: absolute;
  bottom: 0.75rem;
  right: 1.5rem;
  background: #d8801d;
  color: white;
  border: white;
  padding: 0.25rem 0.35rem;
  border-radius: 0.35rem;
  font-size: 1.15rem;
}

.product-card .btn-product:hover {
  background: #7e4b11;
  cursor: pointer;
}

.product-card:hover .product-image {
  -webkit-transform: translateY(0.35rem);
          transform: translateY(0.35rem);
}

/* CONTACT */
.contact-container {
  display: -ms-grid;
  display: grid;
  row-gap: 3rem;
  background: #e9a559;
  color: black;
  padding-bottom: 3rem;
}

.contact-box {
  width: 96%;
  margin: 0 auto;
}

.contact-title {
  margin: 5rem 0 1rem 0;
  text-align: center;
  font-size: 2rem;
  color: black;
}

.contact-content {
  display: -ms-grid;
  display: grid;
  row-gap: 1rem;
}

.contact-content .info-number {
  font-size: 1.25rem;
  color: white;
}

.contact-content .info-number i {
  color: white;
  font-size: 1.5rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
}

.contact-form {
  padding-top: 2rem;
  color: black;
}

.contact-form .input {
  width: 80%;
  height: 35px;
  border-radius: 0.25rem;
  border-color: white;
  padding: 0.5rem;
}

.contact-form .textarea {
  width: 80%;
  border-radius: 0.25rem;
  border-color: white;
  padding: 0.5rem;
}

.contact-form .label {
  font-size: 1.25rem;
  font-weight: medium;
}

.form-content {
  margin-bottom: 1rem;
  display: -ms-grid;
  display: grid;
  row-gap: 0.5rem;
}

.btn-contact {
  margin-top: 1rem;
  text-align: center;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 1rem;
}

.btn-contact:hover {
  background-color: #ab6517;
}

/* FOOTER */
.footer {
  background: #fbeee0;
}

.footer-container {
  width: 96%;
  margin: 0 auto;
}

.footer-content {
  padding: 1.5rem 0;
}

.footer-input {
  width: 50%;
  height: 40px;
  padding: 0.5rem;
}

.btn-footer {
  padding: 0.5rem;
  background: #d8801d;
  border: none;
  color: white;
  border-radius: 0.5rem;
  font-size: 1.15rem;
}

.btn-footer i {
  font-size: 1.15rem;
}

.footer-logo {
  font-size: 1.5rem;
  text-align: center;
  color: #d8801d;
}

.footer-content:nth-of-type(2) h3 {
  color: #d8801d;
  margin-bottom: 1rem;
}

.footer-content:nth-of-type(2) input {
  width: 80%;
  height: 35px;
  margin-bottom: 1rem;
}

.footer-content:nth-of-type(2) button {
  margin: 0 auto;
  color: white;
  background: #d8801d;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
}

.footer-content:nth-of-type(3) {
  display: -ms-grid;
  display: grid;
  row-gap: 0.5rem;
}

.footer-content:nth-of-type(3) h3 {
  color: #d8801d;
  text-align: left;
}

.footer-content:nth-of-type(3) ul {
  display: -ms-grid;
  display: grid;
  row-gap: 0.5rem;
  font-size: 1.15rem;
  list-style-type: none;
}

.footer-content:nth-of-type(4) {
  display: -ms-grid;
  display: grid;
  row-gap: 0.5rem;
}

.footer-content:nth-of-type(4) h3 {
  color: #d8801d;
  text-align: left;
}

.footer-content:nth-of-type(4) ul {
  display: -ms-grid;
  display: grid;
  row-gap: 0.5rem;
  font-size: 1.05rem;
  list-style-type: none;
}

.footer-content h3 {
  color: #d8801d;
}

/* MEDIA BREAKPOINTS */
@media screen and (min-width: 676px) {
  .footer-logo {
    display: none;
  }
  .fc-subscribe {
    width: 80%;
    margin: 0 auto;
    color: #d8801d;
  }
  .footer-flex {
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .footer-flex h3 {
    color: #d8801d;
  }
  .home-social span {
    font-size: 1.5rem;
  }
  .home-social i {
    font-size: 2.5rem;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 976px) {
  .home-container {
    padding-top: 7rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .home-container .home-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home-container .home-btn {
    margin-top: -1rem;
  }
  .home-social {
    display: none;
  }
  .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 5rem;
            column-gap: 5rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .about-container .about-img {
    max-width: 40%;
  }
  .steps-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .product {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .product .product-card {
    padding: 1rem;
    border: 0.5px solid #d8801d;
    border-radius: 0.5rem;
  }
  .contact-box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .contact-box .contact-content {
    width: 50%;
    margin-left: 20%;
  }
  .contact-box .contact-form {
    width: 50%;
  }
  .footer-flex {
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .fc-subscribe {
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fc-subscribe .footer-input {
    width: 400px;
  }
  .fc-subscribe h3 {
    margin-bottom: 2rem;
  }
  .nav-toggle,
  .nav-close {
    display: none;
  }
  .nav-list {
    width: 550px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-list .nav-link {
    color: #d8801d;
    font-size: 1.2rem;
  }
  .nav-list .nav-link:hover {
    text-decoration: underline;
  }
}
/*# sourceMappingURL=styles.css.map */